{% extends 'base.html.twig' %}

{% block title %}Test Phpreader{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for empresa in empresas %}
    <h1>Empresa {{ empresa.results.company }} ({{ empresa.results.class }})</h1>

    <h2>Managers</h2>
    {% if empresa.managers|length %}
        <p>Total: {{ empresa.managers|length }}</p>
        <div class="row font-weight-bold">
            <div class="col-5 table-bordered">Nombre</div>
            <div class="col-2 table-bordered">Cargo</div>
            <div class="col-5 table-bordered">Fecha</div>
        </div>
        {% for c in empresa.managers %}
            <div class="row">
                <div class="col-5 table-bordered">{{ c.Nombre }}</div>
                <div class="col-2 table-bordered">{{ c.Cargo }}</div>
                <div class="col-5 table-bordered">{{ c.Fecha }}</div>
            </div>
        {% endfor %}
        <br>
    {% else %}
        <p>No hay managers</p>
    {% endif %}

    <h2>Accionistas</h2>
    {% if empresa.shareholders|length %}
        <p>Total: {{ empresa.shareholders|length }}</p>
        <div class="row font-weight-bold">
            <div class="col-7 table-bordered">Nombre</div>
            <div class="col-1 table-bordered">Pais</div>
            <div class="col-1 table-bordered">Tipo</div>
            <div class="col-1 table-bordered">Direct %</div>
            <div class="col-1 table-bordered">Total %</div>
        </div>
        {% for c in empresa.shareholders %}
            <div class="row">
        <div class="col-7 table-bordered">{{ c.Nombre }}{% if c.via %} (via its funds){% endif %}</div>
                <div class="col-1 table-bordered">{{ c.Pais }}</div>
                <div class="col-1 table-bordered">{{ c.Tipo }}</div>
                <div class="col-1 table-bordered">{{ c.Direct }}</div>
                <div class="col-1 table-bordered">{{ c.Total }}</div>
            </div>
        {% endfor %}
        <br>
    {% else %}
        <p>No hay accionistas</p>
    {% endif %}


    <h2>Participadas</h2>
    {% if empresa.subsidiaries|length %}
    <p>Total: {{ empresa.subsidiaries|length }}</p>
        <div class="row font-weight-bold">
            <div class="col-7 table-bordered">Nombre</div>
            <div class="col-1 table-bordered">Pais</div>
            <div class="col-1 table-bordered">Tipo</div>
            <div class="col-1 table-bordered">Direct %</div>
            <div class="col-1 table-bordered">Total %</div>
        </div>
        {% for c in empresa.subsidiaries %}
            <div class="row">
                <div class="col-7 table-bordered">{{ c.Nombre }}</div>
                <div class="col-1 table-bordered">{{ c.Pais }}</div>
                <div class="col-1 table-bordered">{{ c.Tipo }}</div>
                <div class="col-1 table-bordered">{{ c.Direct }}</div>
                <div class="col-1 table-bordered">{{ c.Total }}</div>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay participadas</p>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}
