<!DOCTYPE html>
<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('components/css/bootstrap.css') }}" />
        <!-- Documentation extras -->
        <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {# encore_entry_link_tags('app') #}
        {% endblock %}

    </head>
    <body>
      {% block flashes %}
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
      {% endblock %}
        {{ include('menu.html.twig') }}
      <div class="container">
        <div class="row flex-xl-nowrap">
          {% block toc %}
          <nav class="collapse bd-links" id="bd-docs-nav"><div class="bd-toc-item"></div>
          </nav>
        {% endblock %}
        {% block toc_entries %}{% endblock %}
        {% block main %}{% endblock %}
        {% block body %}{% endblock %}
        </div>
      </div>
      {% block javascripts %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('components/jquery.slim.js') }}"></script>
        <!-- The bootstrap bundle includes the optional popper.js -->
        <script src="{{ asset('components/js/bootstrap.bundle.min.js') }}"></script>
        {# encore_entry_script_tags('app') #}
      {% endblock %}
    </body>
</html>
